.imgStyle{
    max-width: 110px;
    max-height: 120px;;
}
.categoryCardStyle{
    
height: 160px;
}
.categoryCardStyle:hover{

    box-shadow: 7px 9px 5px -2px rgba(0,0,0,0.48);
-webkit-box-shadow: 7px 9px 5px -2px rgba(0,0,0,0.48);
-moz-box-shadow: 7px 9px 5px -2px rgba(0,0,0,0.48);
cursor: pointer;
}