.smallbanner{
    max-width: 50%;
}

.smallbannercontent{
    top : 15%;
    left:15%;

}
:root{
    --color-5:#bf4800;
}
.smallbannercontent h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin : 0 0 12px;
    letter-spacing: 0.3px;
    color: var(--color-5);
    text-transform: uppercase;

}
.smallbannercontent h5{
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -2px;
    text-transform: none;
    padding: 0;
}
.smallbannercontent p{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.4px;
    color: var(--color-1);
}