.smallbanner{
    max-width: 50%;
}

.smallbannercontent{
    top : 25%;
    left: 10%;

}

.smallbannercontent h4{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin : 0 0 4px;
    letter-spacing: 0.2px;
    color: var(--color-5);
    text-transform: uppercase;

}
.smallbannercontent h5{
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -2px;
    text-transform: none;
    padding: 0;
}
.smallbannercontent p{
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: var(--color-1);
}