.productCardStyle {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.productCardStyle:hover {
    transform: translateY(-5px);
}

.wishlistIconDiv {
    z-index: 1;
}

.productContainerImg {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.productImg1Style {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.productImg2Style {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.productContainerImg:hover .productImg1Style {
    opacity: 0;
}

.productContainerImg:hover .productImg2Style {
    opacity: 1;
}

.productDetailsStyle {
    padding: 15px;
    text-align: center;
}

.productBrandStyle {
    font-size: 1rem;
    color: #777;
}

.productTitleStyle {
    font-size: 1.2rem;
    color: #333;
    margin: 5px 0;
}

.productPriceStyle {
    font-size: 1.2rem;
    color: #000;
    font-weight: bold;
}

.productActionBar {
    background-color: rgba(255, 255, 255, 0.9);
}
