
.header-top-strip{
    border-bottom: 1px solid var(--color-2) ;
    background-color: var(--color-1) ;
  }
  .header-upper{
    background-color: var(--color-1);
  }
  .header-upper .input-group-text{
    background-color: var(--color-3);
  }
  .form-control:focus{
    box-shadow: none;
    border-color: inherit;
  }
  .header-upper .container .row h2 .sijilmassa:hover{
    color: var(--color-3) !important ;

  }
  .header-upper .header-upper-links img{
    width: 35px;
    height: 35px;
  } 
  .gap-10{
    gap : 10px;
    
  }
  .gap-15{
    gap : 15px;
  }
  .gap-30{
    gap : 30px;
  }
  .header-bottom{
    background-color: var(--color-2);
  }
  .header-bottom .menu-links a{
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: .3;
    text-transform: uppercase;
  }
  .header-bottom .dropdown button{
    
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: .3;
    text-transform: uppercase;
  }
  .header-bottom .dropdown button:focus{
    box-shadow: none;
  }
  .header-bottom .dropdown .dropdown-menu{
    background-color: var(--color-2);
    width: 100%;
  }
  .header-bottom .dropdown .dropdown-item{
    padding: 15px;
    margin-bottom: 3px;
    border-bottom: 1px solid var(--color-1);
  }
  .header-bottom .dropdown .dropdown-item:hover{
    background-color: transparent;
    color: var(--color-3) !important ;
  
  }