:root{
    --color-1: #131921;
    --color-2 : #3b4149;
    --color-3 : #febd69;
    --color-4 : #232f3e;
  
  }
footer{
    background-color: var(--color-4);
}
footer:not(:first-child){
    border-top: 1px solid var(--color-2) ;
}

footer .spanStyle span {
    background-color: var(--color-4);
    

    
}
.gap-15{
    gap : 15px;
  }

footer .donlowadButton .playstore-download button .app-store-icon{
    height: 50px !important;
    color: red !important;
}