

.imgShopProduct{
    width: 240px;
    max-height: 280px;
    border-radius: 3px;
}

.shopProductCard{
    width: 250px;
    background-color: var(--color-7);
    border-radius: 15px;
    padding: 8px;
    max-height: 340px;


}
.shopProductCard:hover{
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.4);
}
.descPorduct p{
    font-size: smaller;
    
}
.pricePorduct{
   
}
.notePorduct{
    color: var(--color-9);
}