*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
  --color-1: #131921;
  --color-2 : #3b4149;
  --color-3 : #febd69;
  --color-4 : #232f3e;
  --color-5:#bf4800;
  --color-6:#232f3e;
  --color-7:#f5f5f7;
  --color-8:#1c1c1b;
  --color-9:#9a0027;

}
body{
  font-family: 'Rubik', sans-serif;
  font-weight: 300;

}
a{
  text-decoration: none;
  display: inline-block;
}
