*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
  --color-1: #131921;
  --color-2 : #3b4149;

}
body{
  font-family: 'Rubik', sans-serif;
}
a{
  text-decoration: none;
  display: inline-block;
}

/* header part */ 

.header-top-strip{
  border-bottom: 1px solid var(--color-2) ;
  background-color: var(--color-1) ;
}
.header-upper{
  background-color: var(--color-1);
}
/* header part end */