*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
  --color-1: #131921;
  --color-2 : #3b4149;
  --color-3 : #febd69;

}
body{
  font-family: 'Rubik', sans-serif;
  font-weight: 300;

}
a{
  text-decoration: none;
  display: inline-block;
}
