.sdCard{
    padding: 5px;
    border-radius: 20px;

}
.sdCard:hover {
    box-shadow: 0px 0px 28px 6px rgba(0,0,0,0.2);
}

.sdCContent{
}
.sdCBrand{
    color: var(--color-5);
    
}
.sdCTitle{
    
}
.discountTill{

}
.productCount{}